@import './dialogs';

.example {
  code {
    font-family: Inconsolata, monospace;
    font-size: 14px;
  }

  p > code {
    display: inline-block;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #ecf8ff;
  }
}

.example-card {
  .el-card__body {
    padding: 0;
  }

  pre {
    overflow: auto;
  }

  .demo {
    padding: 20px;
    display: flex;

    & > * {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .el-collapse-item__header {
    padding: 0 10px 0 20px;
  }

  .el-collapse-item__content {
    padding: 0 20px;
  }

  .el-collapse-item__content {
    padding-bottom: 20px;
  }

  .el-collapse-item:last-child .el-collapse-item__header {
    border-bottom: 0;
  }
}
